{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Bosh Sahifa {% endblock%}

{% block content %}

<div class="row row-cols-1 row-cols-md-2 g-4" style="justify-content: space-around;padding-top: 60px;padding-bottom: 50px;padding-right: 20px;padding-left: 20px;">
    <div class="card col-3" style="width: 18rem;">
        <img src="https://avatars.mds.yandex.net/i?id=2cef82f4f789f08da41a4a9adee90bb6_l-9068519-images-thumbs&n=13" class="" alt="bu rasm topilmadi">
        <div class="card-body">
            <h5 class="card-title">Karzinka</h5>
            <p class="card-text">Siz agar Karzinka companya ga ishga topshirmoqchi bo'lsangiz yuborish tugmasini bosing.</p>
            <a href="#" class="btn btn-primary">Ishlar</a>
        </div>
    </div>
    <div class="card col-3" style="width: 18rem;">
        <img src="https://avatars.mds.yandex.net/i?id=567bedfaa2b42f2e7bcf256a7652c6b18066aed7_l-8497596-images-thumbs&n=13" class="" alt="bu rasm topilmadi">
        <div class="card-body">
            <h5 class="card-title">Sariqbola</h5>
            <p class="card-text">Siz agar Sariqbola companya ga ishga topshirmoqchi bo'lsangiz yuborish tugmasini bosing.</p>
            <a href="#" class="btn btn-primary">Ishlar</a>
        </div>
    </div>
    <div class="card col-3" style="width: 18rem;">
        <img src="https://yt3.googleusercontent.com/6g5A5CYxzXU04dxFmqCwP2kFJ_xFn0_FAbFycPCxfEzHnuQ4PUUA4ilwOxpnXhYYjjmomSQ1=s900-c-k-c0x00ffffff-no-rj" class="" alt="bu rasm topilmadi">
        <div class="card-body">
            <h5 class="card-title">Magnum</h5>
            <p class="card-text">Siz agar Magnum companya ga ishga topshirmoqchi bo'lsangiz yuborish tugmasini bosing.</p>
            <a href="#" class="btn btn-primary">Ishlar</a>
        </div>
    </div>
    <div class="card col-3" style="width: 18rem;">
        <img src="https://frankfurt.apollo.olxcdn.com/v1/files/cu6vtbzogjxa-UZ/image;s=1280x1280" class="" alt="bu rasm topilmadi">
        <div class="card-body">
            <h5 class="card-title">MobiUz</h5>
            <p class="card-text">Siz agar MobiUz companya ga ishga topshirmoqchi bo'lsangiz yuborish tugmasini bosing.</p>
            <a href="#" class="btn btn-primary">Ishlar</a>
        </div>
    </div>
    <div class="card col-3" style="width: 18rem;">
        <img src="https://static10.tgstat.ru/channels/_0/04/0419c7885a4f723927cfb82286640b9f.jpg" class="" alt="bu rasm topilmadi">
        <div class="card-body">
            <h5 class="card-title">Ucell</h5>
            <p class="card-text">Siz agar MobiUz companya ga ishga topshirmoqchi bo'lsangiz yuborish tugmasini bosing.</p>
            <a href="#" class="btn btn-primary">Ishlar</a>
        </div>
    </div>
    <div class="card col-3" style="width: 18rem;">
        <img src="https://static10.tgstat.ru/channels/_0/5a/5a4b2df3e2c5e51353edce5eaef18479.jpg" class="" alt="bu rasm topilmadi">
        <div class="card-body">
            <h5 class="card-title">Terra Pro</h5>
            <p class="card-text">Siz agar Terra Pro companya ga ishga topshirmoqchi bo'lsangiz yuborish tugmasini bosing.</p>
            <a href="#" class="btn btn-primary">Ishlar</a>
        </div>
    </div>
    <div class="card col-3" style="width: 18rem;">
        <img src="https://avatars.mds.yandex.net/i?id=3055062015209b6348dcccc5ff7292cdcb8a041e-9228969-images-thumbs&n=13" class="" alt="bu rasm topilmadi">
        <div class="card-body">
            <h5 class="card-title">KFC</h5>
            <p class="card-text">Siz agar KFC companya ga ishga topshirmoqchi bo'lsangiz yuborish tugmasini bosing.</p>
            <a href="#" class="btn btn-primary">Ishlar</a>
        </div>
    </div>
    <div class="card col-3" style="width: 18rem;">
        <img src="https://yt3.googleusercontent.com/fx5wrZAK9Ag_G9uOc9jr0va3tAfxc2s1EC9WIvY98k8MoCTIOm7DDD4ZtHEx6TYcyJKj1AS09w=s900-c-k-c0x00ffffff-no-rj" class="" alt="bu rasm topilmadi">
        <div class="card-body">
            <h5 class="card-title">Artel</h5>
            <p class="card-text">Siz agar Artel companya ga ishga topshirmoqchi bo'lsangiz yuborish tugmasini bosing.</p>
            <a href="#" class="btn btn-primary">Ishalar</a>
        </div>
    </div>
    <div class="card col-3" style="width: 18rem;">
        <img src="https://play-lh.googleusercontent.com/rHQT7QaBJoQJeE9Ela8HKB_E2geP4IZ-JLvfdnE87ycnaBIZjeyVhRAr6XUz6xf1FMlV" class="" alt="bu rasm topilmadi">
        <div class="card-body">
            <h5 class="card-title">Uzum</h5>
            <p class="card-text">Siz agar Uzum companya ga ishga topshirmoqchi bo'lsangiz yuborish tugmasini bosing.</p>
            <a href="#" class="btn btn-primary">Ishalar</a>
        </div>
    </div>
    </div>

{% endblock %}