{% extends 'main/layout.html' %}

{% block title %} Bosh Sahifa {% endblock%}

{% block content %}
<div class="container-w-card">
    {% for i in wctg %}
    <div class="card" style="width: 18rem;">
  <img src="{{ i.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ i.title }}</h5>
    <p class="card-text">{{ i.text }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ i.vaqti }}</li>
      <p class="item-price"><span>{{ i.salary }}</span></p>
    <li class="list-group-item">{{ i.status }}</li>
  </ul>
  <div class="card-body">
    <a href="{% url 'registor_file' %}" class="btn btn-primary">Yuborish</a>  </div>
</div>
    </div>
{% endblock %}

