body{
      background-image: radial-gradient(#483a3a, #575445);
}
.row{
color: #212529
}



main{
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: radial-gradient(#541f1f, #577491);
}
.custom-card {
    width: 18rem;
    margin: 20px;
}

.custom-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .custom-card {
        margin-left: 10px;
        margin-right: 10px;
    }
}

a.btn.btn-primary {
    font-style: italic;
    font-weight: bold;
}



.card-title {
    color:##3A4D39;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    font-weight: bold;
}

.card-text {
    color:#765827;
    font-family: 'Brass Mono', monospace;
    font-size: 18px; /* O'zgartirishingiz mumkin */
    font-weight: normal; /* Agar kerak bo'lsa bold ornatishingiz mumkin */
}

.semi-italic {
    font-weight: 600;
    font-style: italic;
    font-weight: 600; font-style: bold;
}

.card img {
   height: 175px;
}
